In [1]:
"""
Week 2 Assignment - PyBank
To analyse the monthly profit and loss results.
"""

# Call the datafile using pandas:
import pandas as pd
df = pd.read_csv('Wk2Homework_PyBankBudgetData.csv')
df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [2]:
#df[‘column’].sum() sums the columns value
#df[‘column’].min()  takes min columns value
#similarliy max, median,

In [3]:
# Count number of rows to determine number of months in the dataset:
months = df['Date'].count()
print(months)

86

In [4]:
# The net total amount of Profit/Losses over the entire period:
net_pnl = df['Profit/Losses'].sum()
print(net_pnl)

38382578

In [5]:
# The average of the changes in Profit/Losses over the entire period:
average_change = net_pnl / months
print(round(average_change,2))

446309.05

In [6]:
# Show monthly change
mthly_change = df['Profit/Losses'].diff()
print(mthly_change)

0          NaN
1     116771.0
2    -662642.0
3    -391430.0
4     379920.0
        ...
81   -665765.0
82    693229.0
83   -734926.0
84     77242.0
85    532869.0
Name: Profit/Losses, Length: 86, dtype: float64

In [7]:
# Sum monthly change
print(mthly_change.sum())

-196785.0

In [8]:
# Calculate Average Mthly Change
avg_mthly_change = mthly_change.sum() / months
round(avg_mthly_change,2)

-2288.2

In [9]:
# Rename current row index to the Month (Set Date as Index)
df.set_index(pd.to_datetime(df['Date'], infer_datetime_format=True), inplace=True)
df.head()

                Date  Profit/Losses
Date
2010-01-01  Jan-2010         867884
2010-02-01  Feb-2010         984655
2010-03-01  Mar-2010         322013
2010-04-01  Apr-2010         -69417
2010-05-01  May-2010         310503

In [10]:
# Set Date as Index for change
mthly_change = df['Profit/Losses'].diff()
print(mthly_change)

Date
2010-01-01         NaN
2010-02-01    116771.0
2010-03-01   -662642.0
2010-04-01   -391430.0
2010-05-01    379920.0
                ...
2016-10-01   -665765.0
2016-11-01    693229.0
2016-12-01   -734926.0
2017-01-01     77242.0
2017-02-01    532869.0
Name: Profit/Losses, Length: 86, dtype: float64

In [11]:
# The greatest increase in profits (date and amount) over the entire period.
greatest_incr = mthly_change.max()
print(greatest_incr)

1926159.0

In [12]:
# Find month of the max change
print (df.loc[df['Profit/Losses'].diff() == greatest_incr])

                Date  Profit/Losses
Date
2012-02-01  Feb-2012        1170593

In [13]:
# The greatest decrease in losses (date and amount) over the entire period.
greatest_decr = mthly_change.min()
print(greatest_decr)

-2196167.0

In [14]:
# Find month of the min change?????
print (df.loc[df['Profit/Losses'].diff() == greatest_decr])

                Date  Profit/Losses
Date
2013-09-01  Sep-2013       -1196225

In [15]:
# Print out all outputs neatly in sentences.
#Print("Financial Analysis")
#"----------------------------"
output_months = f"Total Months: {months}"
output_total = f"Total: ${net_pnl}"
#Average  Change: $-2315.12
#Greatest Increase in Profits: Feb-2012 ($1926159)
#Greatest Decrease in Profits: Sep-2013 ($-2196167)

In [16]:
print("Financial Analysis")
print("----------------------------")
print(output_months)
print(output_total)
print(f"Average Change: ${round(avg_mthly_change,2)}")
print(f"Greatest Increase in Profits: Feb-2012 $",greatest_incr,")")
print(f"Greatest Decrease in Profits: Sep-2013 $",greatest_decr,")")

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average Change: $-2288.2
Greatest Increase in Profits: Feb-2012 $ 1926159.0 )
Greatest Decrease in Profits: Sep-2013 $ -2196167.0 )

In [17]:
# Print the output in a text file
answer_string = "Financial Analysis \n"
answer_string += "---------------------------- \n"
answer_string += "Total Months: 86 \n"
answer_string += "Total: $38382578 \n"
answer_string += "Average Change: $-2288.2 \n"
answer_string += "Greatest Increase in Profits: Feb-2012 $ 1926159.0 ) \n"
answer_string += "Greatest Decrease in Profits: Sep-2013 $ -2196167.0 ) \n"
with open('sample.txt', 'w') as text_file:
    text_file.write(answer_string)